/src/fast_chat_llm.py
/src/flan_t5_xl_llm.py
/models/yolov8l-seg.pt
/src/interface.py
/chat_turbo_llm.py
/src/image*
/src/camera_image*
/src/LLM*
/src/chat_turbo_llm.py
/src/image_embedding.py
/src/sam_example.py
/src/query_pairs.py
/src/plane_estimator.py
/src/clustering.py
/src/obj_segmentation.py
/src/coordinates.txt
/src/voice_with_chat.py
/srv/*
/models/*
/src/yolo_coord_estimation.py
/src/speech_to_text.py
/src/text_to_speech.py
/src/vision_to_text.py
/src/bartender_task
/src/uv_task.py
/src/bartender_task.py
/prompts/uv_prompts/uv*
