<launch>
    <!--  -->
    <arg name="debug" default="false"/>

    <!-- Start Object detection and coordinate estimation node -->
    <node pkg="voice_command_interface" type="yolo_coord_estimation.py" name="yolo_coord_estimation" output="screen"/>

    <!-- Launch primesense (head camera) octomap settings -->
    <include file="$(find ultralytics_ros)/launch/tracker_with_cloud.launch">
        <arg name="debug" value="$(arg debug)" />
    </include>

    
</launch>
